<!DOCTYPE html>
<html>
<head>
  <title>Blackwatch</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	 <header>
    <div class="col-xs-3">
			<div class="logo">
      blackwatch
			</div>
    </div>
		 <div class="col-xs-4 slogan">
			 Highlighting quick facts of African-American history
		 </div>
		 <div class="col-xs-5 links">
			 <%= link_to 'Contribute', '#' %>
		 </div>
	</header>
	<hr />
	
	<br class="clear" />
<%= yield %>

</body>
</html>
